.payment__container {
  background-color: white;
}
.payment__container > h1 {
  text-align: center;
  padding: 10px;
  font-weight: 400;
  background-color: #c4c5ff;
  border-bottom: 1px solid;
}

.payment__container > h1 a {
  text-decoration: none;
}
.payment__section {
  display: flex;
  padding: 20px;
  margin: 0 20px;
  border-bottom: 1px solid lightgray;
}

.payment__title {
  flex: 0.2;
}
.payment__address,
.paymnet__items {
  flex: 0.8;
}
.payment__details {
  flex: 0.8;
}
.payment__details > form{
  max-width: 400px;
}

.payment__details > h3{
  padding-bottom: 20px;
}
.payment__details > form > div > button{
  background-color: #001633;
  border-radius: 3px;
  width: 100%;
  height: 30px;
  border: none;
  font-weight: bolder;
  margin-top: 10px;
  color: white;
}